@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IAsyncEnumerable<SalesTracker.Models.Inventory>

<h2>Add new sale</h2>
<div>
    <form action="/Transaction/Create">
        <div>
            <label for="unitSold">Unit Sold</label>
            <input id="unitSold" name="unitSold" type="number" />
        </div>
        <div>
            <label for="revenue">Sale Amount</label>
            <input id="revenue" name="revenue" type="number" />
        </div>
        <div>
            <label for="return">Return</label>
            <input id="return" name="return" type="number" />
        </div>
        <div>
            <label for="comment">Comment</label>
            <input id="comment" name="comment" type="text" />
        </div>
        <select>
            @foreach (var item in Model)
            {
                <option value="@item.InventoryId">@item.Item</option>
            }
            
        </select>
        <button type="submit" class="btn btn-success">Add Sales</button>
    </form>
</div>
