@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SalesTracker.Models.Transaction

<h2>Add new sale</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.UnitSold)
    @Html.EditorFor(model => model.UnitSold)

    @Html.LabelFor(model => model.InventoryId)
    @Html.DropDownList("InventoryId")

    <input type="submit" value="Create" class="btn btn-default" />
}
